<!DOCTYPE HTML>

<html>

<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<title>localhost</title>

<form method="post">
  <table>
    <tr>
      <td class="label">
	Description of Sample: 
      </td>
      <td>
	<input type="text" name="description">
      </td>
      <td class="space"></td>
      <td>
	<input type="submit" value="Get Spectrum">
      </td>
    </tr>
  </table>
</form>

{% if filepath %}
<img src='{{filepath}}'>
{% endif %}

<br>

{% if plotfile %}
<img src='{{plotfile}}'>
{% endif %}

</html>
